# Вебинар 4. Домашнее задание

Само домашнее задание нахожится в конце ноутбука

---

In [1]:
import pandas as pd
import numpy as np

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

# Функции из 1-ого вебинара
import os, sys

import warnings
warnings.filterwarnings("ignore")

In [30]:
data = pd.read_csv('../../retail_train.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282320,222,41297772783,635,1120741,1,0.59,304,0.00,1716,91,0.0,0.0
2282321,462,41297773713,635,993339,1,1.99,304,0.00,2040,91,0.0,0.0
2282322,462,41297773713,635,995242,1,1.00,304,-0.89,2040,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0
2282324,462,41297773713,635,12731714,1,4.08,304,0.00,2040,91,0.0,0.0

In [31]:
item_features = pd.read_csv('../../product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ
...,...,...,...,...,...,...,...
92348,18293142,6384,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,
92349,18293439,6393,DRUG GM,National,BOOKSTORE,CHILDRENS LOW END,
92350,18293696,6406,DRUG GM,National,BOOKSTORE,PAPERBACK BEST SELLER,
92351,18294080,6442,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,
92352,18316298,764,GROCERY,National,PAPER TOWELS,PAPER TOWELS & HOLDERS,

In [32]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result

      user_id                                             actual
0           1  [821867, 834484, 856942, 865456, 889248, 90795...
1           3  [835476, 851057, 872021, 878302, 879948, 90963...
2           6  [920308, 926804, 946489, 1006718, 1017061, 107...
3           7  [840386, 889774, 898068, 909714, 929067, 95347...
4           8  [835098, 872137, 910439, 924610, 992977, 10412...
...       ...                                                ...
2037     2496                                          [6534178]
2038     2497  [1016709, 9835695, 1132298, 16809501, 845294, ...
2039     2498  [15716530, 834484, 901776, 914190, 958382, 972...
2040     2499  [867188, 877580, 902396, 914190, 951590, 95813...
2041     2500  [852182, 856345, 923746, 948670, 1018007, 1044...

[2042 rows x 2 columns]

In [33]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [34]:
# Заведем фиктивный item_id (если юзер покупал товары не из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробовать другие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [36]:
def get_recommendations(user, model, sparse_user_item, N=5):
    res = [id_to_itemid[rec] for rec in 
                    model.recommend(userid=userid_to_id[user], 
                                    user_items=sparse_user_item[userid_to_id[user]],   # на вход user-item matrix
                                    N=N, 
                                    filter_already_liked_items=False, 
                                    filter_items=[itemid_to_id[999999]], 
                                    recalculate_user=True)[0]]
    return res

In [37]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(recommended_list, bought_list)
    
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

In [38]:
bm25_user_item_matrix = bm25_weight(user_item_matrix.T).T.tocsr()

In [39]:
model = AlternatingLeastSquares(factors=350, 
                regularization=0.05,
                iterations=1,
                calculate_training_loss=True, 
                # num_threads=-1,
                random_state=42)

model.fit(bm25_user_item_matrix,  # На вход item-user matrix
          show_progress=False)

In [40]:
result['als_bm25_1'] = result['user_id'].map(lambda x: get_recommendations(x, model, sparse_user_item, N=5))
result.apply(lambda row: precision_at_k(row['als_bm25_1'], row['actual']), axis=1).mean()

0.2719882468168443

-----

# Домашнее задание

1. Перенесите метрики в модуль metrics.py
2. Перенесите функцию prefilter_items в модуль utils.py
3. Создайте модуль recommenders.py. Напищите код для класса ниже и положите его в recommenders.py
4. Проверьте, что все модули корректно импортируются

In [29]:
import pandas as pd
import numpy as np

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight


class MainRecommender:
    """Рекоммендации, которые можно получить из ALS

    Input
    -----
    user_item_matrix: pd.DataFrame
        Матрица взаимодействий user-item
    weighting: string
        Тип взвешивания, один из вариантов None, "bm25", "tfidf"
    fake_id: int
        идентификатор, которым заменялись редкие объекты, можно передать None?если такого объекта нет
    """

    def __init__(self, data, weighting="bm25", fake_id = 999999):

        # Топ покупок каждого юзера
        self.top_purchases = data.groupby(['user_id', 'item_id'])['quantity'].count().reset_index()
        self.top_purchases.sort_values('quantity', ascending=False, inplace=True)
        if fake_id is not None:
            self.top_purchases = self.top_purchases[self.top_purchases['item_id'] != fake_id]

        # Топ покупок по всему датасету
        self.overall_top_purchases = data.groupby('item_id')['quantity'].count().reset_index()
        self.overall_top_purchases.sort_values('quantity', ascending=False, inplace=True)
        if fake_id is not None:
            self.overall_top_purchases = self.overall_top_purchases[self.overall_top_purchases['item_id'] != fake_id]
        self.overall_top_purchases = self.overall_top_purchases.item_id.tolist()
        #
        self.fake_id = fake_id
        self.user_item_matrix = self._prepare_matrix(data)  # pd.DataFrame
        self.id_to_itemid, self.id_to_userid, \
            self.itemid_to_id, self.userid_to_id = self._prepare_dicts(self.user_item_matrix)
        
        self.sparse_user_item = csr_matrix(self.user_item_matrix).tocsr()

        if weighting == "bm25":
            self.user_item_matrix = bm25_weight(self.user_item_matrix.T).T.tocsr()   
        elif weighting == "tfidf":
            self.user_item_matrix = tfidf_weight(self.user_item_matrix.T).T.tocsr()

        self.model = self.fit(self.user_item_matrix)
        self.own_recommender = self.fit_own_recommender(self.user_item_matrix)

    @staticmethod
    def _prepare_matrix(data):
        
        user_item_matrix = pd.pivot_table(data, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ддругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

        user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

        return user_item_matrix

    @staticmethod
    def _prepare_dicts(user_item_matrix):
        """Подготавливает вспомогательные словари"""

        userids = user_item_matrix.index.values
        itemids = user_item_matrix.columns.values

        matrix_userids = np.arange(len(userids))
        matrix_itemids = np.arange(len(itemids))

        id_to_itemid = dict(zip(matrix_itemids, itemids))
        id_to_userid = dict(zip(matrix_userids, userids))

        itemid_to_id = dict(zip(itemids, matrix_itemids))
        userid_to_id = dict(zip(userids, matrix_userids))

        return id_to_itemid, id_to_userid, itemid_to_id, userid_to_id

    @staticmethod
    def fit_own_recommender(user_item_matrix):
        """Обучает модель, которая рекомендует товары, среди товаров, купленных юзером"""

        own_recommender = ItemItemRecommender(K=1, num_threads=-1)
        own_recommender.fit(user_item_matrix)

        return own_recommender

    @staticmethod
    def fit(user_item_matrix, n_factors=350, regularization=0.05, iterations=1, num_threads=-1):
        """Обучает ALS"""

        model = AlternatingLeastSquares(factors=n_factors,
                                        regularization=regularization,
                                        iterations=iterations,
                                        num_threads=num_threads)
        model.fit(user_item_matrix)

        return model

    def _update_dict(self, user_id):
        """Если появился новыю user / item, то нужно обновить словари"""

        if user_id not in self.userid_to_id.keys():

            max_id = max(list(self.userid_to_id.values()))
            max_id += 1
            
            self.userid_to_id.update({user_id: max_id})
            self.id_to_userid.update({max_id: user_id})

    def _get_similar_item(self, item_id):
        """Находит товар, похожий на item_id"""
        recs = self.model.similar_items(self.itemid_to_id[item_id], N=3)  # Товар похож на себя -> рекомендуем 2 товара
        
        recs = list(recs[0][1:])        
        if self.itemid_to_id[self.fake_id] in recs:
            recs.remove(self.itemid_to_id[self.fake_id])
        top_rec = recs[0]
        
        return self.id_to_itemid[top_rec]

    def _extend_with_top_popular(self, recommendations, N=5):
        """Если кол-во рекоммендаций < N, то дополняем их топ-популярными"""

        if len(recommendations) < N:
            top_popular = [rec for rec in self.overall_top_purchases[:N] if rec not in recommendations]
            recommendations.extend(top_popular)
            recommendations = recommendations[:N]

        return recommendations
    
    def _get_recommendations(self, user, model, N=5):
        """Рекомендации через стардартные библиотеки implicit"""

        self._update_dict(user_id=user)
        res = model.recommend(userid=self.userid_to_id[user],
            user_items=self.sparse_user_item[self.userid_to_id[user]],
            N=N,
            filter_already_liked_items=False,
            filter_items=[self.itemid_to_id[self.fake_id]],
            recalculate_user=True)
        
        mask = res[1].argsort()[::-1]
        
        res = [self.id_to_itemid[rec] for rec in res[0][mask]]
        res = self._extend_with_top_popular(res, N=N)        
        res = res[:N]

        assert len(res) == N, 'Количество рекомендаций != {}'.format(N)
        return res

    def get_als_recommendations(self, user, N=5):
        """Рекомендации через стардартные библиотеки implicit"""

        self._update_dict(user_id=user)
        return self._get_recommendations(user, model=self.model, N=N)

    def get_own_recommendations(self, user, N=5):
        """Рекомендуем товары среди тех, которые юзер уже купил"""

        self._update_dict(user_id=user)
        return self._get_recommendations(user, model=self.own_recommender, N=N)
    
    def get_similar_items_recommendation(self, user, N=5):
        """Рекомендуем товары, похожие на топ-N купленных юзером товаров"""
        res = []
        top_users_purchases = self.top_purchases[self.top_purchases['user_id'] == user].head(N).item_id.tolist()
        
        for i, item in enumerate(top_users_purchases):
            spam = self._get_similar_item(item)
            res.append(spam)
        
        res = self._extend_with_top_popular(res, N=N)
 
        assert len(res) == N, 'Количество рекомендаций != {}'.format(N)
        return res

    def get_similar_users_recommendation(self, user, N=5):
        """Рекомендуем топ-N товаров, среди купленных похожими юзерами"""
        res = []
        # Находим топ-N похожих пользователей
        similar_users = self.model.similar_users(self.userid_to_id[user], N=N+1)
        similar_users = similar_users[0]
        similar_users = similar_users[1:]   # удалим юзера из запроса
        
        # Берем топ купленых товаров
        for user in similar_users:
            spam_id = self.id_to_userid[user]
            
            top_users_purchases = self.top_purchases[self.top_purchases['user_id'] == spam_id].head(1)              
            res.extend(top_users_purchases.item_id)
        
        res = self._extend_with_top_popular(res, N=N)

        assert len(res) == N, 'Количество рекомендаций != {}'.format(N)
        return res

----

Проверка, что все работает

In [3]:
module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from best_rec_lib.metrics import precision_at_k, recall_at_k
from best_rec_lib.utils import prefilter_items
from best_rec_lib.recommenders import MainRecommender

Попробуйте сделать предскахание с помощью нового класса

Загружаем данные

In [4]:
data = pd.read_csv('../../retail_train.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282320,222,41297772783,635,1120741,1,0.59,304,0.00,1716,91,0.0,0.0
2282321,462,41297773713,635,993339,1,1.99,304,0.00,2040,91,0.0,0.0
2282322,462,41297773713,635,995242,1,1.00,304,-0.89,2040,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0
2282324,462,41297773713,635,12731714,1,4.08,304,0.00,2040,91,0.0,0.0

In [5]:
item_features = pd.read_csv('../../product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ
...,...,...,...,...,...,...,...
92348,18293142,6384,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,
92349,18293439,6393,DRUG GM,National,BOOKSTORE,CHILDRENS LOW END,
92350,18293696,6406,DRUG GM,National,BOOKSTORE,PAPERBACK BEST SELLER,
92351,18294080,6442,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,
92352,18316298,764,GROCERY,National,PAPER TOWELS,PAPER TOWELS & HOLDERS,

In [6]:
data_train = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)
data_train

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
11,1364,26984896261,1,999999,1,2.19,31742,0.00,1520,1,0.0,0.0
12,1364,26984896261,1,999999,1,2.99,31742,-0.40,1520,1,0.0,0.0
14,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,0.0,0.0
29,1172,26985025264,1,999999,1,2.29,396,0.00,946,1,0.0,0.0
35,1172,26985025264,1,1000493,1,4.44,396,-0.89,946,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282021,1111,41297733325,635,15481724,1,2.99,298,0.00,2008,91,0.0,0.0
2282297,2088,41297771158,635,1075277,1,5.29,304,-1.00,1258,91,0.0,0.0
2282303,2088,41297771158,635,1115187,1,2.59,304,0.00,1258,91,0.0,0.0
2282310,2088,41297771158,635,13008321,1,2.19,304,0.00,1258,91,0.0,0.0
2282323,462,41297773713,635,10180324,1,3.00,304,-0.29,2040,91,0.0,0.0

In [7]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result

      user_id                                             actual
0           1  [821867, 834484, 856942, 865456, 889248, 90795...
1           3  [835476, 851057, 872021, 878302, 879948, 90963...
2           6  [920308, 926804, 946489, 1006718, 1017061, 107...
3           7  [840386, 889774, 898068, 909714, 929067, 95347...
4           8  [835098, 872137, 910439, 924610, 992977, 10412...
...       ...                                                ...
2037     2496                                          [6534178]
2038     2497  [1016709, 9835695, 1132298, 16809501, 845294, ...
2039     2498  [15716530, 834484, 901776, 914190, 958382, 972...
2040     2499  [867188, 877580, 902396, 914190, 951590, 95813...
2041     2500  [852182, 856345, 923746, 948670, 1018007, 1044...

[2042 rows x 2 columns]

In [8]:
test_users = result.shape[0]
new_test_users = len(set(data_test['user_id']) - set(data_train['user_id']))

print('В тестовом дата сете {} юзеров'.format(test_users))
print('В тестовом дата сете {} новых юзеров'.format(new_test_users))
new_test_users = list(set(data_test['user_id']) - set(data_train['user_id']))

В тестовом дата сете 2042 юзеров
В тестовом дата сете 11 новых юзеров

после префильтрации данных в тестовом датасете остались пользователи, которых убрали из тренировочного. Их надо также убрать для корректного предсказания и расчета метрик.

In [9]:
result = result[~result['user_id'].isin(new_test_users)]

In [21]:
model = MainRecommender(data_train)

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/5001 [00:00<?, ?it/s]

In [11]:
result['als_bm25'] = [model.get_als_recommendations(el, N=5) for el in result['user_id']]

In [12]:
result['own_rec'] = [model.get_own_recommendations(el, N=5) for el in result['user_id']]

In [22]:
result['sim_user_rec'] = [model.get_similar_users_recommendation(el, N=5) for el in result['user_id']]

In [23]:
result['sim_item_rec'] = [model.get_similar_items_recommendation(el, N=5) for el in result['user_id']]

In [24]:
result.head()

,user_id,actual,als_bm25,own_rec,sim_user_rec,sim_item_rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[856942, 5577022, 8090541, 9297615, 877391]","[856942, 9297615, 5577022, 9655212, 8293439]","[858439, 1008814, 882308, 888835, 850676]","[823099, 9297615, 5577022, 9670830, 1097398]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1075979, 1008714, 904435, 12132312, 9677270]","[1008714, 1075979, 12132312, 904435, 9677270]","[865026, 7168774, 936270, 1136486, 853210]","[999965, 1046037, 1044188, 6979579, 9677126]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[996269, 12384953, 1078858, 1084036, 1058214]","[937405, 1108094, 972416, 13115971, 995598]","[13002975, 1108094, 1117824, 1021225, 1128477]","[1022066, 1018339, 878715, 1114218, 1053924]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[7147142, 871513, 1040183, 1136033, 6534406]","[894360, 7147142, 832473, 9338009, 939681]","[1026258, 1011427, 5568072, 865511, 821741]","[5590965, 9677791, 6534689, 10456186, 842312]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[12172240, 926808, 6463874, 981660, 7144132]","[926808, 1051468, 12808385, 909269, 988277]","[884694, 1120261, 1086483, 1091926, 1137505]","[1116900, 6463649, 975085, 7410361, 1045710]"

In [25]:
result.apply(lambda row: precision_at_k(row['als_bm25'], row['actual']), axis=1).mean()

0.1407188577055624

In [26]:
result.apply(lambda row: precision_at_k(row['own_rec'], row['actual']), axis=1).mean()

0.1440669620876404

In [27]:
result.apply(lambda row: precision_at_k(row['sim_user_rec'], row['actual']), axis=1).mean()

0.022353520433284133

In [28]:
result.apply(lambda row: precision_at_k(row['sim_item_rec'], row['actual']), axis=1).mean()

0.0340718857705565

**Выводы:** После более тщательной префильтрации данных метрики качества Precision@k, как и предполагалось, упали. Но величина падения оказалась очень существенна - с 0.27 до 0.14